* {
    background-image: linear-gradient(290deg, #55df98, #455b97);
    color: black;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Main {
    background: rgb(236, 239, 241);
    padding: 20px;
    height: 600px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 3px rgba(255, 255, 255, .5) solid;
}

#Bild {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px rgba(255, 255, 255, .5) solid;
    background: none;
}

#Name {
    display: none;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

#Score {
    float: left;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    background: none;
}

#Highscore {
    float: right;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    background: none;
}

#Audio {
    border: 3px rgba(255, 255, 255) solid;
    border-radius: 30px;
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

#VarSelect {
    left: 25%;
}

#Davor {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Rückmeldung {
    display: none;
    background: rgb(236, 239, 241);
    height: 600px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 3px rgba(255, 255, 255, .5) solid;
    text-align: center;
    padding: 25px;
}

#Rückmeldung h1 u {
    background: none;
    font-size: 60px;
}

#Rückmeldung h1,
p,
button {
    background: none;
}

#Rückmeldung button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(290deg, #55df98, #455b97);
    border: 2px black solid;
    border-radius: 5px;
    width: 90%;
}

#Right {
    display: none;
    background: none;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    font-size: 25px;
    display: block;
    background: rgb(236, 239, 241);
    position: absolute;
    margin-bottom: 5%;
    top: -5.5%;
    transform: translate(-50%, -50%);
}

#selecter {
    left: 85%;
}

#Übung {
    text-align: center;
}

figure {
    margin: 1px;
    align-items: center;
    background: none;
}

figure.einzel {
    display: inline-block;
    padding: 10px;
    width: 31%;
    border: 1px solid gainsboro;
}

figure#einzel {
    display: inline-block;
    padding: 10px;
    width: 31%;
    border: 1px solid gainsboro;
}

figure img {
    width: 100%;
}

#Zurück {
    background: none;
}

@media only screen and (max-width: 600px) {
    #Main {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    #Bild {
        height: 300px;
        width: 300px;
        top: 45%;
    }
    #Score {
        position: absolute;
        top: 9%;
        left: 10%;
        font-size: 15px;
        margin: 10px;
    }
    #Highscore {
        position: absolute;
        top: 9%;
        font-size: 15px;
        margin: 10px;
        right: 10%;
    }
    #Rückmeldung {
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 0px;
    }
    #Rückmeldung p {
        font-size: 50%;
    }
    select {
        top: 5%;
    }
    #selecter {
        left: 80%;
    }
    #VarSelect {
        left: 32%;
    }
    figure {
        font-size: 20px;
    }
    figure.einzel {
        width: 41%;
    }
}